iframe {
  width: 100%;
  height: 20rem;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact {
  transform: translatex(5rem);
  transform: translatex(-5rem);
  transform: translatey(-1rem);
}
.header {
  font-family: "Helvetica";
  color: red;
}
.header small {
  color: orange;
  font-size: 6rem;
}
.title {
  width: 50rem;
  height: 100%;
  transform: translatey(-17rem);
  padding-left: 1rem;
  display: flex;
flex-direction: column;
align-items: center;
flex-direction: center;
cursor:default;
-webkit-user-select: none;  /* Chrome all / Safari all */
-moz-user-select: none;     /* Firefox all */
-ms-user-select: none;      /* IE 10+ */
user-select: none;          /* Likely future */   
}

.about {
  background-color: lightblue;
  width: 50%;
  height: 9rem;
}

.insideTitle{
display: flex;
flex-direction: column;
align-items: flex-start;
flex-direction: flex-start;
justify-content: space-around;
}

.big{
  font-family: league-gothic, sans-serif;
  color: white;
  letter-spacing: 1.3rem;
word-spacing: 0.5rem;
font-size: 8.5rem;
font-weight: 400;
}

.small{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 0.9rem;
}

.down{
  transform: translatey(1.4rem);
}

.upp{
  transform: translatey(-1.6rem);
}

@media (max-width: 1200px) {
  .title {
    transform: translatey(-14rem);
  }
  .big{
    letter-spacing: 1rem;
  }
  .down{
    transform: translatey(0.9rem);
  }
  .upp{
    transform: translatey(-1rem);
  }
}

@media (max-width: 1200px) {
  .big{
    font-size: 5rem;
  }
}