iframe {
  width: 100%;
  height: 20rem;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact {
  transform: translatex(5rem);
  transform: translatex(-5rem);
  transform: translatey(-1rem);
}
.header {
  font-family: "Helvetica";
  color: red;
}
.header small {
  color: orange;
  font-size: 6rem;
}
.title {
  width: 45rem;
  height: auto;
  transform: translatey(-16rem);
}

.about {
  background-color: lightblue;
  width: 50%;
  height: 9rem;
}

@media (max-width: 500px) {
  .title {
    width: calc(100% - 2rem);
    transform: translatey(-14rem);
  }
}
