.about {
  background-color: #445e85;
  width: auto;
  height: 13rem;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  text-align: center;
}

.top {
  font-family: var(--font-main);
}

.Add-primary {
  background-color:rgb(44 45 66);
  border: none;
  color:rgb(204, 214, 246);
  font-size: 1.2rem;

  background: rgb(44 45 66);
  padding: 0.75rem;
  border-radius: 0.7rem;
  margin: 0.2rem;
  cursor: pointer;
}

.Add-primary:hover {
  color: rgb(233, 69, 96);
}

.test {
  flex-direction: row;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  font-family: Arial, Helvetica, sans-serif;
}

.text {
  width: 80%;
  color: white;
  font-family: var(--font-main);
  font-size: 1.2rem;
  position: fixed;
    top: 0;
    width: 100%
}

.linked {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.techBubble{

  width: max-content;
  }   
  .techBubble:hover{
      color:rgb(204, 214, 246);
  }