.about {
  background-color: #445e85;
  width: auto;
  height: 13rem;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  text-align: center;
}

.top {
  font-family: var(--font-main);
}

.btn-primary {
  background-color: rgb(26, 27, 46);
  border: none;
    color: rgba(255, 255, 255, 0.671);
  font-size: 1.4rem;
}

.btn-primary:hover {
  color: rgb(233, 69, 96);
}

.test {
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  font-family: Arial, Helvetica, sans-serif;
}

.text {
  width: 80%;
  color: white;
  font-family: var(--font-main);
  font-size: 1.2rem;
}

linked {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (max-width: 500px) {
  .about {
    width: calc(100% - 2rem);
    transform: translateY(1rem);
  }
}
